<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <!-- https://stackoverflow.com/questions/62782648/android-11-scoped-storage-permissions -->
    <!-- https://developer.android.com/training/data-storage/manage-all-files -->
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <!-- <uses-permission android:name="android.permission.ACTION_MANAGE_ALL_FILES_ACCESS_PERMISSION" /> -->
    <!--https://github.com/facebook/react-native/issues/34409-->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <queries>
      <intent>
        <action android:name="android.intent.action.VIEW" />
        <!-- If you don't know the MIME type in advance, set "mimeType" to "*/*". -->
        <!-- <data android:mimeType="application/pdf" /> -->
        <data android:mimeType="*/*" />
      </intent>
    </queries>

    <!-- ko dùng dc "requestLegacyExternalStorage" từ android 11 trở đi -->
    <!-- 20/10/2021: https://stackoverflow.com/questions/66067616/how-to-access-permission-allow-management-of-all-file-in-android-studio -->
    <application
      android:requestLegacyExternalStorage="true"
      android:name=".MainApplication"
      android:label="@string/app_name"
      android:icon="@mipmap/ic_launcher"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:allowBackup="true"
      android:theme="@style/AppTheme">
      <activity
        android:name=".MainActivity"
        android:label="@string/app_name"
        android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode"
        android:launchMode="singleTask"
        android:windowSoftInputMode="adjustResize"
        android:exported="true">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
      </activity>
    </application>
</manifest>
